<mat-toolbar>
  <span>{{ title }}</span>
  <div *ngIf="!isLogged; else logged">
    <ng-container *ngFor="let menu of publicMenu">
      <a
        mat-button
        routerLink="{{ menu.link }}"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >{{ menu.title }}</a
      >
    </ng-container>
  </div>
  <ng-template #logged>
    <ng-container *ngFor="let menu of privateMenu">
      <a
        mat-button
        routerLink="{{ menu.link }}"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >{{ menu.title }}</a
      >
    </ng-container>
    <a mat-button (click)="logOut()">Log out</a>
  </ng-template>
</mat-toolbar>
