Modulo3/node_modules/
Modulo4/React/basico/node_modules/
Modulo4/React/basico/organizacion/node_modules
Modulo5/Testing/React/boilerplate/node_modules
Modulo5/Testing/real-project/node_modules

Modulo6/ejercicio1/node_modules
Modulo6/ejercicio2/node_modules