<body>
  <div class="container">
    <main class="main-content">
      <article class="card">
        <img src="https://historia.nationalgeographic.com.es/medio/2020/12/28/un-barco-fantasma-navega-en-un-mar-embravecido-durante-una-noche-tormentosa_a830e4f6_1280x853.jpg" alt="Imagen card" />
        <div class="card-content">
          <h3 class="card-title">Title</h3>
          <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque sapien, dictum ac leo vel, commodo sagittis massa. Morbi porta tempor mi quis mollis. Ut nec cursus purus. Nam tincidunt lectus at dui aliquam hendrerit. Proin in quam condimentum, posuere tortor id, iaculis elit. Morbi vel bibendum est.</p>
          <p class="card-publish">Published: <span>March 31, 2023</span></p>
          <a href="#" class="button">More info</a>
        </div>
      </article>
    </main>
  </div>
</body>