@import url("https://fonts.googleapis.com/css2?family=Roboto");
$fonts: "Roboto", Helvetica, sans-serif;
$primary-color: #ab99ca;
$spacing: 1rem;
$margin: 2rem;
$dark-grey: #999;

body {
  box-sizing: border-box;
  font-family: $fonts;
  background-color: #f2f2f2;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* $radius is the parameter of the function */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.card {
  background-color: white;
  width: 20rem;
  overflow: hidden;
  margin: $margin;
  @include border-radius(0.5rem);

  img {
    height: 15rem;
    background-size: cover;
    background-position: center center;
  }

  .card-content {
    padding: 0 1rem 1rem;
  }

  .card-title {
    font-size: 20px;
  }

  .card-description {
    margin: 0;
    color: $dark-grey;
  }

  .card-publish {
    display: flex;
    align-items: center;
    justify-content: right;

    span {
      color: #10e690;
    }
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .button {
    background-color: #10e617;
    color: #fff;
    padding: 0.8rem 0.9rem;
    text-decoration: none;
    display: inline-block;
    @include flex-center;

    &:hover {
      background-color: #129cfe;
    }
  }
}
